flask
pandas
datetime
tabulate
requests
gunicorn
PyPDF2 
numpy
tabula-py
selenium==2.33.0
bs4
camelot-py[cv]
sqlalchemy
Flask-SQLAlchemy
chromedriver-autoinstaller
webdriver-manager
future
ansible
tk
PyMySQL
flask-sqlalchemy
